

<footer>
    <div class="footer-content">
      <h3>Inspiration for future getaways</h3>
      <div class="footer-links">
        <div class="footer-column">
          <ul class="footer-category">
            <li><a href="#">Popular</a></li>
            <li><a href="#">Arts & culture</a></li>
            <li><a href="#">Outdoors</a></li>
            <li><a href="#">Mountains</a></li>
            <li><a href="#">Beach</a></li>
            <li><a href="#">Unique stays</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Things to do</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <ul>
            <li><a href="#">Canmore</a> - Chalet rentals</li>
            <li><a href="#">Tucson</a> - Rentals with pools</li>
            <li><a href="#">Anaheim</a> - Beach house rentals</li>
            <li><a href="#">Benalmádena</a> - Beach house rentals</li>
            <li><a href="#">Jasper</a> - Cabin rentals</li>
            <li><a href="#">Monterey</a> - Cottage rentals</li>
            <li><a href="#">Paso Robles</a> - Cottage rentals</li>
          </ul>
        </div>
        <div class="footer-column">
          <ul>
            <li><a href="#">Support</a></li>
            <li><a href="#">Help Centre</a></li>
            <li><a href="#">AirCover</a></li>
            <li><a href="#">Anti-discrimination</a></li>
            <li><a href="#">Disability support</a></li>
            <li><a href="#">Cancellation options</a></li>
            <li><a href="#">Report neighbourhood concern</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <ul>
            <li><a href="#">Hosting</a></li>
            <li><a href="#">Airbnb your home</a></li>
            <li><a href="#">AirCover for Hosts</a></li>
            <li><a href="#">Hosting resources</a></li>
            <li><a href="#">Community forum</a></li>
            <li><a href="#">Hosting responsibly</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <ul>
            <li><a href="#">Airbnb</a></li>
            <li><a href="#">Newsroom</a></li>
            <li><a href="#">New features</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Investors</a></li>
            <li><a href="#">Airbnb.org emergency stays</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2024 Airbnb, Inc.</p>
      <p>
        <a href="#">Privacy</a> ·
        <a href="#">Terms</a> ·
        <a href="#">Sitemap</a> ·
        <a href="#">Company details</a>
      </p>
      <div class="footer-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>
  