<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-6 offset-3 ">

            <h3 class="col-6 offset-3">Sign up for Hostel Hub</h3>
            <form action="/signup" method="post" class="row g-3 needs-validation" novalidate>
                <div>
                  <label for="username" class="form-label">Username</label>
                  <input name="username" type="text" class="form-control" id="username" placeholder="enter username" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Enter a username!
                  </div>
                </div>
                <div>
                  <label for="email" class="form-label">Email</label>
                  <input  name="email"  type="email" class="form-control" id="email" placeholder="enter email" required>
                  <div class="invalid-feedback">
                    Please Check Email!
                  </div>
                </div>
                <div>
                  <label for="password" class="form-label">Password</label>
                  <div >
                    <input name="password" type="password" class="form-control" id="password" placeholder="enter password" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                      It can't be empty!
                    </div>
                  </div>
                </div>
                
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">SignUp</button>
                </div>
              </form>

        </div>
    </div>





  